.header {
    padding: 2rem;
    text-align: center;
}

.body {
    background-color: rgb(93, 99, 104);
}
.container {
    border: 2px solid rgb(17, 40, 73);
    padding: 2rem;
    border-radius: 1rem;
    margin-bottom: 2rem;
    width: 27vw;
    margin: auto;
    text-align: center;
}

.footer{
    padding-top: 2rem;
    padding-bottom: 2rem;
}